@import "tailwindcss";

:root {
  --background: oklch(37.9% 0.146 265.522);
  --color: #ffffff;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: 'Roboto', sans-serif;
}
