@import "tailwindcss";

:root {
  --background: oklch(84.522% 0.0001 271.152);
  --foreground: oklch(33.569% 0.12696 265.747);
  --inactive: oklch(21.488% 0.06052 267.324);

  --text: black;
  --accent-text: oklch(37.9% 0.146 265.522);

  --button-text: white;

  --accent: oklch(37.9% 0.146 265.522);
  --accent-hover: oklch(46.736% 0.14842 266.723);
}

.dark {
  --background: oklch(25.967% 0.00241 248.201); 
  --foreground: oklch(22.213% 0.00003 271.152);
  --inactive: oklch(22.213% 0.00003 271.152);

  --text: white;
  --accent-text: oklch(87.9% 0.169 91.605);

  --button-text: black;

  --accent: oklch(82.8% 0.189 84.429);
  --accent-hover: oklch(88.93% 0.15934 92.861);
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

@layer base {
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-extrabold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-bold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}