@import "tailwindcss";


:root {
  --background: oklch(84.522% 0.0001 271.152);
  --foreground: oklch(20% 0.05 265.522);

  --accent: oklch(37.9% 0.146 265.522);
  --accent-hover: oklch(46.736% 0.14842 266.723);

  --foreground-hover: oklch(100% 0 0);
}

.dark {
  --background: oklch(37.9% 0.146 265.522); 
  --foreground: oklch(98% 0.02 265.522); 

  --accent: oklch(82.8% 0.189 84.429);
  --accent-hover: oklch(87.9% 0.169 91.605);

  --foreground-hover: oklch(0 0 0);
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  color: var(--foreground);
}

@layer base {
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-extrabold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-bold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}